
.icon-32-extension					{	background-image: url(./images/icon-32-extension.png);	}
.icon-32-sent					    {	background-image: url(./images/icon-32-sent.png);	}

.icon-32-nextstep					{	background-image: url(./images/icon-32-nextstep.png);	}
.icon-32-previousstep					{	background-image: url(./images/icon-32-previousstep.png);	}
.icon-32-inprocess					{	background-image: url(./images/icon-32-inprocess.png);	}
.icon-32-certification				{	background-image: url(./images/icon-32-certification.png);	}
.icon-32-payment					{	background-image: url(./images/icon-32-payment.png);	}
.icon-32-coverpage					{	background-image: url(./images/icon-32-coverpage.png);	}
.icon-32-jalsacover					{	background-image: url(./images/icon-32-jalsacover.png);	}

.icon-48-school-group {	  background-image: url(./images/icon-48-school.png);	}
.icon-48-jalsa-view {	background-image: url(./images/icon-48-jalsa.png);	}
.icon-48-requests-view {	background-image: url(./images/icon-48-request.png);	}
.icon-48-customer-view {	background-image: url(./images/icon-48-customer.png);	}

table#tbl_certificate { 
	width:100%;
}

table#tbl_certificate tr td { 
	padding:5px 0;
}
table#tbl_certificate tr td label { 
	float:left;
	width: 140px !important;
	font-weight:bold;
}

table#tbl_certificate tr td input[type='text'] { 
	height:20px;
	width: 300px;
}

table#tbl_certificate tr td button{ 
	height:30px;
	border-radius:6px;
	margin-right:10px;
	border:1px solid #c3c3c3;
}


.status_1 { 
	color: #2f96b4;
}

.status_2 { 
	color: #006dcc;
}

.status_7 { 
	color: #bd362f;
}

.status_3 { 
	color: #f89406;
}

.status_5 { 
	color: #51a351;
}

.status_6 { 
	color: #51a351;
}

.red { 
	color:red;
}

#btn_submit_form { 
	height:30px !important;
	border-radius:6px;
	width:auto !important;
}


#tbl_study_process , .tbl_mark { 
	width:600px;
	border:1px solid #000;
}

table.tbl_mark , #tbl_study_process{ 
	font-size:12px;
}
.tbl_mark tr td, #tbl_study_process tr td, #tbl_info tr td { 
	padding:5px 0;
}

#tbl_info tr td input[type="text"] { 
	width:300px;
}

.tbl_mark tr td input { 
	width:60px;
	height:20px;
}

#tbl_add_school_year { 
	margin:0 0 0 10px;
	width:500px;
}
#tbl_add_school_year tr td, #tbl_sumary tr td { 
	padding:5px 0;
}
#tbl_add_school_year tr td input, #tbl_sumary tr td input{ 
	width:200px;
}

#tbl_sumary tr td textarea { 
	width:400px;
	height:80px;
	resize:none;
}

#tbl_add_school_year tr td label{ 
	float:left;
	width:180px;
}

#show_school_year_form { 
	font-size:12px;
	margin-left:10px;
}

.download_diploma { 
	float:left;
	margin:5px 0;
}

#tbl_jalsa tr td { 
	color: red;
}

.row_success { 
	background-color: #5bc0de !important;
	color: #fff !important;
	font-weight:bold;
}

.row_danger { 
	background-color: #d9534f !important;
	color: #fff !important;
	font-weight:bold;
}